name: Docker Image Production
on:
    push:
        branches: ["main"]

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            # Set up Docker Buildx
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            # Build and push Docker image with BuildX
            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./docker/prod.Dockerfile
                  push: true
                  platforms: linux/amd64,linux/arm64
                  tags: |
                      ${{ secrets.DOCKER_USERNAME }}/wisdom-book:latest
    deploy:
        needs: build-and-push
        runs-on: self-hosted # self-hosted runner in your machine
        environment: production

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: show kube context
              run: |
                  kubectl config current-context
                  kubectl get nodes

            - name: Deploy to Kubernetes
              env:
                  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
              shell: bash
              run: |
                  envsubst < k8s/deployment.yml | kubectl apply -f -
                  kubectl apply -f k8s/service.yml

                  kubectl rollout restart deployment/472-cicd-book
                  kubectl rollout status deployment/472-cicd-book
