name: Development CI with Maven # Branch: develop

on:
    push:
        branches: [develop]
    pull_request:
        branches: [develop]

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: maven

            - name: Test application
              run: mvn test

            - name: Build jar with Maven
              run: mvn package
